{% extends 'base.html' %} {% block title %} - expenses {% endblock %} {% block content %}
<div>
  <h1 class="text-center pt-5 mx-1">You need an account to access this page</h1>
  <div class="d-flex justify-content-center flex-wrap mt-4">

      <a
        type="button"
        href="{% url 'register' %}"
        class="btn-green mx-2 mt-3"
        >Create an Account</a
      >
   
      <a
        type="button"
        href="{% url 'login' %}"
        class="btn-green mx-2 mt-3"
        >Login</a
      >

      <button id="goBackButton" class="btn-green mx-2 mt-3">
        Go Back
      </button>

  </div>
</div>
<script>
  document
    .getElementById("goBackButton")
    .addEventListener("click", function () {
      window.history.back();
    });
</script>
{% endblock %}
