@import url('https://fonts.googleapis.com/css2?family=Grenze&display=swap');

:root {
    --color-green: #00d58a;
    --color-brass: #B5A642;
}

input[id=searchField] {
    border-color: #00d58a8f;
    border-width: 1px !important;
}

input[id=searchField]:focus {
    border-color: var(--color-green) !important;
    box-shadow: rgba(0, 213, 138, 0.16) 0px 1px 4px, rgb(0, 213, 138) 0px 0px 0px 2px;
}

div[class*=page-title] {
    font-weight: 400;
    font-size: 29px;
    font-family: 'Grenze', serif;
}

.btn-green {
    background: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
.btn-green:hover,
.btn-green:active {
    background-color: initial;
    background-position: 0 0;
    color: var(--color-green);
}
.btn-green:active {
    opacity: .5;
}

.btn-green-outline {
    background: transparent;
    border: 2px solid var(--color-green);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: var(--color-green);
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
.btn-green-outline:hover,
.btn-green-outline:active {
    background-color: var(--color-green);
    background-position: 0 0;
    color: #ffffff;
}
.btn-green-outline:active {
    opacity: .5;
}
.btn-green-outline-sm {
    background: transparent;
    border: 2px solid var(--color-green);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: var(--color-green);
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 13px;
    font-weight: 800;
    line-height: 5px;
    min-height: 29px;
    outline: 0;
    padding: 8px 10px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
.btn-green-outline-sm:hover,
.btn-green-outline-sm:active {
    background-color: var(--color-green);
    background-position: 0 0;
    color: #ffffff;
}
.btn-green-outline-sm:active {
    opacity: .5;
}

.btn-brass-outline {
    background: transparent;
    border: 2px solid var(--color-brass);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: var(--color-brass);
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
.btn-brass-outline:hover,
.btn-brass-outline:active {
    background-color: var(--color-brass);
    background-position: 0 0;
    color: #ffffff;
}
.btn-brass-outline:active {
    opacity: .5;
}
.btn-brass-outline-sm {
    background: transparent;
    border: 2px solid var(--color-brass);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: var(--color-brass);
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 13px;
    font-weight: 800;
    line-height: 5px;
    min-height: 29px;
    outline: 0;
    padding: 8px 10px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
.btn-brass-outline-sm:hover,
.btn-brass-outline-sm:active {
    background-color: var(--color-brass);
    background-position: 0 0;
    color: #ffffff;
}
.btn-brass-outline-sm:active {
    opacity: .5;
}